body {
  background-color: #C6DCE4;
}

hr {
  /*background-color: none;*/
  border-style: none;
  border-top-style: dotted;
  /*height: 0px;*/
  border-color: grey;
  border-width: 5px;
  width: 10%;
}
/*hr {
  background-color: white;
  height: 0px;
}*/
h1 {
  color: #748DA6;
}
h2 {
  color: #748DA6;
}
h3 {
  color: #748DA6;
}
h4 {
  color: #748DA6;
}
/*h6{
  color: black;
}*/

a {
  color: black;
}

a:hover {
  color: #BB9981;
}
